/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 sept 2024, 22:39:04
    Author     : chris
*/
        body {
            background-color: #181818;
            color: #fff;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: #282828;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;
            font-size: 3rem;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 15px;
            margin: 10px 0;
            border: none;
            background-color: #383838;
            color: #fff;
            border-radius: 3px;
        }

        input[type="password"] + i {
            position: relative;
            right: 40px;
            top: -35px;
            cursor: pointer;
        }

        button {
            background-color: #ffcc00;
            color: #181818;
            border: none;
            padding: 15px 30px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 3px;
            font-weight: bold;
        }

